:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  /*menghilangkan bullets*/
  list-style: none;
}

a {
  text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

@keyframes animate {
    from {color: #f0d50d;}
    to {color: var(--pink);}
  }

@keyframes animate1 {
    from {opacity: 1;}
    to {opacity: 0.5;}
  }

@keyframes play {
    0%   {color:var(--pink); left:0px; top:0px;}
    25%  {color:#f0e68c; left:20px; top:0px;}
    50%  {color:rgb(99, 195, 240); left:20px; top:20px;}
    75%  {color:rgb(34, 102, 34); left:0px; top:20px;}
    100% {color:rgb(241, 169, 214); left:0px; top:0px;}
  }
header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    width: 100%;
}

.logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
    animation-name: play;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.logo span{
    color:var(--pink);
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navbar a:hover{
    color:var(--pink);
}

.icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

.icons a:hover{
    color:var(--pink);
}

#toggler{
    display: none;
}

.fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(66733.jpg);
    background-size: 50%;
    color: white;
    text-align: center;
    width: 100%;

}

.top-container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    padding-bottom: 50px;
}
  
.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}
  
.btn-wrapper {
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}
 
@keyframes play1 {
    0%   {color:var(--pink); }
    25%  {color:#f0e68c; }
    50%  {color:rgb(99, 195, 240); }
    75%  {color:rgb(34, 102, 34); }
    100% {color:rgb(241, 169, 214); }
  }
.catalogue {
    background-color: #f0e68c;
    animation-name: play1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;  
}
  
.btn:hover {
    opacity: 1;
}

.main{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    
}

.content{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.content h2{
    border-bottom: 1px solid #f0e68c;
    color: #5f5d60;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.products{
    background-color: white;
    width: 24%;
    height: 500px;
    margin: 0 auto;
    float: left;
    margin-bottom: 60px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px #dbdfdd;
    margin-right: 10px;
    padding-top: 10px;
    opacity: 0.7;
}

.product{
    position: relative;
}

.product img{
    width: 80%;
}

.products h4, h5{
    text-align: left;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.description{
    padding-top: 20px;
    font-size: 12px;
    width: 80%;
    color: #b3aeb5;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.products:hover{
    cursor: pointer;
    opacity: 1;
}

footer{
    background-color: #f0e68c;
    opacity: 0.7;
    float:right;
    border-top: 1px solid #f0d50d;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-foot{
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-foot p{
    font-size: 25px;
}

.left-foot i{
    color: var(--pink);
}

.left-foot span{
    color: var(--pink);
}

.left-foot{
    padding-top: 50px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.right-foot h4{
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px ;
}

.name-icons a{
    font-size: 10px;
    color:black;
    padding-bottom: 8px;
    padding-right: 20px;
}

.name-icons a:hover{
    color:var(--pink);
}